body {
  display: flex;
  margin: 0;
}

#sidebar {
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(175,175,175);  
}

.red-background{
  background: red;
}
.green-background{
  background: green;
}